@charset "UTF-8";
@font-face {
    font-family: 'pbfont';
    src: url('../pbfont/pb.eot');
    src: url('../pfont/pb.eot?#iefix') format('embedded-opentype'), url('../pbfont/pb.woff') format('woff'), url('../pbfont/pb.ttf') format('truetype'), url('../pbfont/pb.svg#pbfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'prfont';
    src: url('../prfont/pr.eot');
    src: url('../prfont/pr.eot?#iefix') format('embedded-opentype'), url('../prfont/pr.woff') format('woff'), url('../prfont/pr.ttf') format('truetype'), url('../prfont/pr.svg#prfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**{ word-wrap:break-word;;outline:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;} */
input, textarea {
    word-wrap: none;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

html {
    -webkit-text-size-adjust: none;
    overflow-x: hidden
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, span {
    padding: 0;
    margin: 0;
}

body {
    font: 300 12px/1.5em "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
}

fieldset, img, html, body, iframe {
    border: 0;
}

/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol, ul {
    list-style: none;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

caption, th {
    text-align: left;
}

em, i, small, caption, th {
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, em {
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

a {
    color: hsla(0, 0%, 100%, .823);
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%
}

a, button {
    outline: none;
    border: 0;
}

input, select {
    border: 1px solid #ccc;
    font-family: inherit;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

textarea, input, button, select {
    outline: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
}

textarea {
    overflow: auto;
    resize: none;
    font-family: inherit;
}

.br50 {
    border-radius: 50%;
}

.fw {
    font-weight: 600;
}

.hide, .none {
    display: none
}

.hidden {
    visibility: hidden;
}

.show, .block {
    display: block;
}

.cd {
    cursor: default !important;
}

.cp {
    cursor: pointer !important;
}

.cod {
    color: #54504C !important
}

.cof {
    color: #fff !important;
}

.red {
    color: #E2170C !important;
}

.green {
    color: #4caf50 !important;
}

.del {
    text-decoration: line-through;
}

img {
    vertical-align: middle;
}

input:disabled, select:disabled, textarea:disabled {
    background: #ccc;
}

.tc_ulinkc {
    text-decoration: underline;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.o_red {
    color: #E2170C;
}

.o_green {
    color: #008000;
}

.pr, .pos {
    position: relative
}

.pa {
    position: absolute
}

.pf {
    position: fixed
}

.tzui_addimg, .tzui_addvideo {
    max-width: 100%;
}

.tzui_addlink {
    text-decoration: underline;
    color: #008000
}

.btn-primary {
    color: #fff;
    background-color: #292828;
    cursor: pointer;
}

.btn-primary:hover {
    color: #fff;
    background-color: #292828;
}

.btn-primary:active {
    background-color: #292828;
}

.tp1 {
    top: 1px !important;
    position: relative;
}

.tp2 {
    top: 2px !important;
    position: relative;
}

.tp3 {
    top: 3px !important;
    position: relative;
}

.tp4 {
    top: 4px !important;
    position: relative;
}

.ftp1 {
    top: -1px !important;
    position: relative;
}

.ftp2 {
    top: -2px !important;
    position: relative;
}

.ftp3 {
    top: -3px !important;
    position: relative;
}

.ftp4 {
    top: -4px !important;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
    background: #666;
}

::-webkit-scrollbar-button {
    background-color: #fff;
}

::-webkit-scrollbar-track {
    background: #666;
}

::-webkit-scrollbar-track-piece {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: #666;
}

::-webkit-scrollbar-corner {
    background: #82AFFF;
}

::-webkit-scrollbar-resizer {
    background: #FF0BEE;
}

scrollbar {
    -moz-appearance: none !important;
    background: rgb(0, 255, 0) !important;
}

scrollbarbutton {
    -moz-appearance: none !important;
    background-color: rgb(0, 0, 255) !important;
}

scrollbarbutton:hover {
    -moz-appearance: none !important;
    background-color: rgb(255, 0, 0) !important;
}

/* 隐藏上下箭头 */
scrollbarbutton {
    display: none !important;
}

/* 纵向滚动条宽度 */
scrollbar[orient="vertical"] {
    min-width: 8px !important;
}

/*1366*768 1440*900 div---如果你是用fixed的div层的高度一定要控制在：520px以内 */
.img-responsive.inline-block {
    display: inline-block;
    width: 100%;
    max-height: 600px
}

.w30 {
    width: 30px;
}

.w50 {
    width: 50px;
}

.w70 {
    width: 75px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w180 {
    width: 164px;
}

.w200 {
    width: 200px;
}

.w220 {
    width: 220px;
}

.w240 {
    width: 240px;
}

.w248 {
    width: 248px;
}

.w260 {
    width: 260px;
}

.w360 {
    width: 360px;
}

.w375 {
    width: 375px;
}

.w640 {
    width: 640px;
}

.wth270, .w270 {
    width: 270px;
}

.wth423, .w423 {
    width: 423px;
}

.wth620, .w620 {
    width: 620px;
}

.fz12, .fs12 {
    font-size: 12px !important;
}

.fz16 {
    font-size: 16px !important;
}

.fz14 {
    font-size: 14px !important;
}

.fz15 {
    font-size: 15px !important;
}

.fz18 {
    font-size: 18px !important;
}

.fz20 {
    font-size: 20px !important;
}

.fz24 {
    font-size: 24px !important;
}

.fz28 {
    font-size: 28px !important;
}

.fz30 {
    font-size: 30px !important;
}

.fz48 {
    font-size: 48px !important;
}

.fz64 {
    font-size: 64px !important;
}

.fz96 {
    font-size: 96px !important;
}

.ml20 {
    margin-left: 20px;
}

.mnone {
    margin: 0
}

.mr, .mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.ml, .ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml30 {
    margin-left: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt45 {
    margin-top: 45px;
}

.mt64 {
    margin-top: 64px;
}

.mt70 {
    margin-top: 70px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb64 {
    margin-bottom: 64px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb100 {
    padding: 0px 100px;
}

.pb101 {
    padding: 10px 100px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pd5 {
    padding: 2px 10px;
    border-radius: 15px;
}

.pl10 {
    padding-left: 10px;
}

.pt30 {
    padding-top: 30px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt90 {
    padding-top: 90px;
}

.pl20 {
    padding-left: 20px;
}

.pd10 {
    padding: 10px;
}

.color_gray {
    color: #c5c6c9;
}

.color_gray1 {
    color: #777d85;
}

.font12 {
    font-size: 12px;
}

.font18 {
    font-size: 18px;
}

.font22 {
    font-size: 22px;
    font-weight: bold;
}

.font24 {
    font-size: 24px;
}

.font30 {
    font-size: 30px;
}

.color_red {
    color: #292828;
}

.color_green {
    color: #62c189;
}

.color_fff {
    color: #fff
}

.bor_gray {
    border: 1px solid #e1e1e1;
}

.bor_green {
    border: 1px solid #62c189;
}

.bor_red {
    border: 1px solid #292828;
}

.bor_gray1 {
    border: 2px solid #8b8c8f;
}

.bor_green1 {
    border: 2px solid #62c189;
    background: #eafcf1;
}

.bgf {
    background: #fff;
}

.bg_green {
    background: #62c189;
}

.bg_gray {
    background: #f1f2f3;
}

.bg_gray1 {
    background: #8b8c8f;
}

.bg_yellow {
    background: #ffb502;
}

.bg_blue {
    background: #17badd;
}

.bg_red {
    background: #e7402a;
}

.bg_purple {
    background: #9d74ef;
}

.border_gray {
    color: #8b8c8f;
    border: 1px solid #e1e1e1;
    background: #ffffff;
}

.border_gray:hover {
    color: #8b8c8f;
    border: 1px solid #e1e1e1;
    background: #f7f7f7;
}

.border_red {
    color: #ffffff;
    border: 1px solid #59927F;
    background: #292828;
}

.border_red:hover {
    color: #ffffff;
    background: #096748;
}

.border_green {
    color: #ffffff;
    border: 1px solid #5ea37a;
    background: #6eb88c;
}

.border_green:hover {
    color: #ffffff;
    background: #62c189;
}

.border_yellow {
    color: #ffffff;
    border: 1px solid #fc961c;
    background: #feaf51;
}

.border_yellow:hover {
    color: #ffffff;
    background: #ffb761;
}

.lineheight54 {
    line-height: 54px;
}

.lineheight88 {
    line-height: 88px;
}

.tmui-ellipsis, .ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.all {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block
}

.allb {
    background: #111;
    opacity: 0.36
}

.tc {
    text-align: center !important;
}

.tl {
    text-align: left !important;
}

.tr {
    text-align: right !important;
}

/*阴影层*/
.tzui-loading-overlay, .tmui-overlay, .tmui-box-overlay, .tmui-common-overlay {
    width: 100%;
    height: 100%;
    background: #141414;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
filter：alpha(opacity = 40);
    opacity: 0.4;
}

.mohu {
    -webkit-filter: saturate(5) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(1.5) invert(0.2) brightness(.9) blur(1px);
    clip: rect(205px 572px 516px 351px);
    transition: all 0.5s ease-in-out;
}

.ke_column2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    column-rule: 1px solid #ccc;
    -webkit-column-gap: 42px;
    -moz-column-gap: 42px;
    -ms-column-gap: 42px;
    column-gap: 42px;
}

.ke_column2.gnon {
    -webkit-column-gap: 6px;
    -moz-column-gap: 6px;
    -ms-column-gap: 6px;
}

.ke_column3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    column-count: 3;
    column-rule: 1px solid #ccc;
    -webkit-column-gap: 42px;
    -moz-column-gap: 42px;
    -ms-column-gap: 42px;
    column-gap: 42px;
}

.ke_column4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    column-count: 4;
    column-rule: 1px solid #ccc;
    -webkit-column-gap: 42px;
    -moz-column-gap: 42px;
    -ms-column-gap: 42px;
    column-gap: 42px;
}

.ie {
    _position: absolute;
    _clear: both;
    _top: expression(eval(document.compatMode &&
               document.compatMode=='CSS1Compat') ?   
               documentElement.scrollTop   
               +(documentElement.clientHeight-this.clientHeight) - 1   
               : document.body.scrollTop   
               +(document.body.clientHeight-this.clientHeight) - 1);
}
